.postListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  ul {
    list-style: none;
    padding: 0;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    li {
      width: 75vw;
      max-width: 320px;
      margin-top: 5px;
      margin-bottom: 5px;
      display: flex;
      padding: 15px 15px;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      border-radius: 20px;
      border: 1px solid #e5f4f2;
      background-color: rgba(255, 255, 255, 0.8);
      box-shadow: 0px 0px 50px 50px #667eea39;
      gap: 1rem;
    }
  }
  p {
    font-size: 16px;
    color: #555;
    margin-bottom: 15px;
    overflow-wrap: break-word;
    width: 80%;
  }

  .button {
    background-color: #667eea;
    width: 10vw;
    max-width: 400px;
    height: 40px;
    border: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: inherit;
  }

  .buttonContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}
