$primary: white;
$secondary: #667eea;

.nav-container {
  position: sticky;
  top: 0;
  display: flex;
  width: 100%;
  transition: all 0.5s ease;
  z-index: 1;
  border-radius: 0 0 5% 5%;
  background-color: $secondary;

  div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1em 3em;

    img {
      max-height: 4rem;
    }

    ul {
      display: flex;

      li {
        padding: 0 1rem;
        display: flex;
        align-items: center;

        a {
          color: white;
          text-decoration: none;
          font-size: 0.9rem;
          text-transform: uppercase;
        }

        a:hover {
          color: $primary;
          transition: 0.3s;
        }
      }

      .login {
        background-color: $primary;
        color: $secondary;
        padding: 0.5em 1em;
        display: flex;
        justify-content: space-evenly;
        border-radius: 25px;
        margin-left: 0.5em;

        a {
          color: $secondary;
        }

        svg {
          margin-left: 1em;
          font-size: 0.6rem;
        }

        a:hover {
          color: #667eea;
        }

        a:hover + svg {
          transform: scale(1.4);
          transition: all 0.4s ease-in-out;
        }

        @media (width < 700px) {
          background-color: transparent;
          padding: 0 1em;
          justify-content: flex-start;
          border-radius: 0;
          margin-left: 1em;
        }
      }
    }

    section {
      cursor: pointer;
      display: none;
      font-size: 2.5em;
      color: $primary;
    }
  }

  @media (width < 700px) {
    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      position: absolute;
      top: 5.25rem;
      padding: 0 3em;
      width: 100%;
      height: 85vh;
      background: linear-gradient(to right, transparent, #667eea);
      transition: all 0.5s ease;

      li {
        margin: 1em 0;
        a {
          text-shadow: 0 0 10px black;
        }
        svg {
          display: none;
        }
      }
    }

    main section {
      display: flex;
    }
  }
}
