main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 90vh;
}

.div {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  width: 80vw;
  padding: 15px 15px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #e5f4f2;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 50px 50px #667eea39;

  h2 {
    color: #667eea;
  }
}
