/* postList.module.scss */

div {
  padding: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

p {
  font-size: 16px;
  color: #555;
  margin-top: 10px;
}
