.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 90vh;
  gap: 1rem;
}

.input {
  max-width: 400px;
  height: 40px;
  width: 70vw;
  background: #edf2f7;
  border: none;
}

.button {
  background-color: #667eea;
  width: 10vw;
  max-width: 400px;
  height: 40px;
  border: none;
  color: white;
}

.text {
  max-height: 400px;
  max-width: 400px;
  height: 70vw;
  width: 70vw;
  background: #edf2f7;
  border: none;
}
