body,
html {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  height: 100%;
  background-color: darkgrey;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px;
  main {
    padding-top: 10rem;
    width: 100%;
  }
}
